name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "45 11 * * *"
env: 
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SING_BOX_VERSION: 1.12.8
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: 安装 sing-box-${{ env.SING_BOX_VERSION }}
        run: |
          curl -fsSL https://sing-box.app/install.sh | sh -s -- --version "${{ env.SING_BOX_VERSION }}"
          sing-box version

      - name: 安装 Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: 准备构建环境
        run: |
          mkdir -pv public

      - name: 构建 json 格式规则集
        run: |
          deno task build

      - name: 构建 srs 格式规则集
        working-directory: public
        run: |
          for i in *.json; do
            echo "[INFO] 编译 $i"
            sing-box rule-set compile "$i"
          done

      - uses: actions/upload-artifact@v4
        with:
          name: build-artifact-${{ github.sha }}-${{ github.run_number }}
          path: public
          if-no-files-found: error
          retention-days: 1
          compression-level: 4
          include-hidden-files: false

  upload_to_cloudflare_r2:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: build-artifact-${{ github.sha }}-${{ github.run_number }}
          path: public

      - uses: ryand56/r2-upload-action@latest
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.R2_BUCKET }}
          source-dir: public
          destination-dir: ruleset
          keep-file-fresh: false
